html,body{
	width:100%;
	height:100%;
	background:#111;
	position: fixed;
}

.background-gradient{
	width: 100vw;
	height: 100vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background: rgba(33,209,20,1);
	background: -moz-linear-gradient(45deg, rgba(33,209,20,1) 0%, rgba(109,198,249,1) 86%, rgba(109,198,249,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(33,209,20,1)), color-stop(86%, rgba(109,198,249,1)), color-stop(100%, rgba(109,198,249,1)));
	background: -webkit-linear-gradient(45deg, rgba(33,209,20,1) 0%, rgba(109,198,249,1) 86%, rgba(109,198,249,1) 100%);
	background: -o-linear-gradient(45deg, rgba(33,209,20,1) 0%, rgba(109,198,249,1) 86%, rgba(109,198,249,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(33,209,20,1) 0%, rgba(109,198,249,1) 86%, rgba(109,198,249,1) 100%);
	background: linear-gradient(45deg, rgba(33,209,20,1) 0%, rgba(109,198,249,1) 86%, rgba(109,198,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21d114', endColorstr='#6dc6f9', GradientType=1 );
}


/*#navbar-inverse {*/
	/*background:transparent;*/
	/*color: white;*/
	/*font-family: 'Space Mono', monospace;*/
	/*text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),*/
	/*0px 8px 13px rgba(0, 0, 0, 0.1),*/
	/*0px 18px 23px rgba(0, 0, 0, 0.1);*/
/*}*/

.nav-link {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	overflow: hidden;
}
.nav-link:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	top: 0;
	background: #2098D1;
	height: 4px;
	-webkit-transform: translateY(-4px);
	transform: translateY(-4px);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.nav-link:hover:before, .nav-link:focus:before, .nav-link:active:before {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}


.text-shadow{
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	0px 8px 13px rgba(0,0,0,0.1),
	0px 18px 23px rgba(0,0,0,0.1);
}


.box-shadow{
	-webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.37);
	-moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.37);
	box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.37);
}

h1 {
	color: #111;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
	0px 8px 13px rgba(0, 0, 0, 0.1),
	0px 18px 23px rgba(0, 0, 0, 0.1);
}

h2 {
	margin-left: 2%;
	color: #464E47;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	font-weight: 300;

}

h3 {
	color: #568259;
	font-family: 'Oswald', sans-serif;
	font-size: 24px;

}

p {
	color: #464E47;
	font-family: 'Space Mono', monospace;
	font-size: 14px;
	text-justify: inter-word;
}

ol {
	color: #464E47;
	font-family: 'Space Mono', monospace;
	font-size: 14px;
	text-justify: inter-word;
}

li {
	color: #464E47;
	font-family: 'Space Mono', monospace;
	font-size: 14px;
	text-justify: inter-word;
}

.main-title {
	position: absolute;
	color: #f9f1e9;
	text-align: center;
	margin: auto;
	padding: auto;
	top: 37%;
	left: 50%;
	font-size: 3em;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
	0px 8px 13px rgba(0, 0, 0, 0.1),
	0px 18px 23px rgba(0, 0, 0, 0.1);
}

.sub-title {
	position: absolute;
	margin: auto;
	padding: 5%;
	color: #f9f1e9;
	text-align: center;
	top: 48%;
	left: 50%;
	font-size: 2em;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
	0px 8px 13px rgba(0, 0, 0, 0.1),
	0px 18px 23px rgba(0, 0, 0, 0.1);

}

.button-title {
	position: absolute;
	margin: auto;
	padding: auto;
	border-radius: 15px;
	color: #568259;
	text-align: center;
	top: 60%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	font-family: 'Space Mono', monospace;
	font-weight: 400;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
	0px 8px 13px rgba(0, 0, 0, 0.1),
	0px 18px 23px rgba(0, 0, 0, 0.1);

}